@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.hero {
  position: relative;
  width: 100%;
  height: 450px;
  background: #f1ddc9;
  margin-bottom: 500px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #000000;
  text-align: left;
  font-size: 60px;
}

.box1 {
  width: 200px;
  height: 2px;
  background: #000000;
}

.subtitle {
  margin-top: 20px;
  width: 549px;
  color: #000000;
  text-align: left;
}
.col2 {
  background: url(corona.png) no-repeat;
  background-size: 91%;
  height: 540px;
  margin-left: 80px;
  margin-top: 80px;
}
@media only screen and (max-width: 430px) {
  .col2 {
    height: 400px;
    background-size: 91%;
    margin-left: 20px;
    margin-top: 0px;
  }
  .col2 {
    background: url(corona.png) no-repeat;
    background-size: 82%;
    height: 560px;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 430px) {
  .col2 {
    height: 350px;
    background-size: 100%;
    margin: 0px;
  }
  .hero {
    width: 100%;
    height: 605px;
    background: #f1ddc9;
    margin-bottom: 200px;
    margin: 110px 0px;
    padding-top: 20px;
    text-align: left;
  }
  .subtitle {
    font-size: 17px;
    width: auto;
    text-align: left;
  }
}
