@media screen and (min-width: 1024px){
 .navbar-center {
    display:flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
 }
 .navbar-link, .navbar-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-around;
 }
}

.navbar-center a {
   transition: all .4s;
   font-weight: bold;
}

.navbar-center a:hover {
   box-shadow: .01rem .01rem .5rem black;
   padding: 0rem 1.2rem;
   transform: translate(0rem, -.4rem) scale(1.1, 1.1);
}

.navbar-center a:active {
   transform: translate(0rem, .2rem) scale(.5, .5);
   box-shadow: .01rem .01rem .5rem black;
   padding: 0rem 1.2rem;
}
